bazel-*
.DS_Store
.drone.sec.yml
.idea/
debug.test
*pb.go
node_modules
site/.firebaserc
site/.firebase/**
site/sfguides/src/visual_analytics_powered_by_snowflake_and_tableau/visual_analytics.code-workspace
.gitignore
